@import (reference) "../dist/bootstrap/less/variables.less";

body{
    padding-bottom:4em;
}

app {
    display: block;

    .app-debug-info {
        position: fixed;
        bottom: 0px;
        border-radius: 0px;
        margin: 0px;
        width: 100%;
        padding:0px;
    }

    select.form-control {
        width: auto;
    }

    ui-view {
        & > * > async-content {
            display: block;
        }

        .btn > .fa + span {
            display: inline-block;
            margin-left: .5em;
        }

        .btn + async-content {
            margin-left: .5em;
        }

        async-content + .btn {
            margin-left: .5em;
        }

        .panel > async-content {
            display: block;

            & > * > .message {
                padding: @panel-body-padding;
            }
        }

        .panel-body > async-content {
            display: block;
        }
    }
}
