@import (reference) "./App.less";

body{
    padding-bottom:4em;
}

app {
    display: block;

    nav.navbar {
        border-radius: 0px;
    }

    button + async-content {
        display: inline-block;
        margin-left: .5em;
    }

    table {
        margin-bottom: 0px;
        .table;
        .table-striped;
        .table-bordered;

        a {
            .text-info;
        }
    }

    .panel {
        margin-bottom: 0px;
    }

    .app-debug-info {
        position: fixed;
        bottom: 0px;
        border-radius: 0px;
        margin: 0px;
        width: 100%;
        padding: 0px;
    }

    select.form-control {
        width: auto;
    }

    ui-view {
        & > * {
            display: block;

            & > async-content {
                display: block;
            }
        }

        .btn > .fa + span {
            display: inline-block;
            margin-left: .5em;
        }

        .panel > async-content {
            display: block;

            & > * > .message, & > * > .error {
                padding: @panel-body-padding;
            }
        }

        .panel-body > async-content {
            display: block;
        }
    }
}
