@using System.Web.Configuration;

<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>My App</title>
    <link type="text/css" rel="stylesheet" href="~/dist/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="~/dist/font-awesome/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="~/dist/app.min.css" />
</head>
<body>
    <app></app>
    <script type="text/javascript" src="~/dist/dep.min.js"></script>
    <script type="text/javascript" src="~/dist/app.min.js"></script>
    @{ 
        var debugInfo = new
        {
            environment = new
            {
                name = WebConfigurationManager.AppSettings["environment"]
            },
            build = new
            {
                number = WebConfigurationManager.AppSettings["build.number"],
                url = WebConfigurationManager.AppSettings["build.url"]
            },
            release = new
            {
                name = WebConfigurationManager.AppSettings["release.name"],
                url = WebConfigurationManager.AppSettings["release.url"]
            }
        };
    }
    <script type="text/javascript">
        angular.module('app').constant('debugInfo', @Html.Raw(Json.Encode(debugInfo)));
    </script>
</body>
</html>
