@using System.Web.Configuration;

<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>My App</title>
    <link type="text/css" rel="stylesheet" href="~/dist/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="~/dist/bootswatch/sandstone/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="~/dist/font-awesome/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="~/dist/app.min.css" />
    <base href="~/" />
</head>
<body>
    <app></app>
    <script type="text/javascript" src="~/dist/dep.min.js"></script>
    <script type="text/javascript" src="~/dist/app.min.js"></script>
    @{
        var debugInfo = new
        {
            environment = new
            {
                name = WebConfigurationManager.AppSettings["environment.name"]
            },
            build = new
            {
                number = WebConfigurationManager.AppSettings["build.number"],
                url = WebConfigurationManager.AppSettings["build.url"]
            },
            release = new
            {
                name = WebConfigurationManager.AppSettings["release.name"],
                url = WebConfigurationManager.AppSettings["release.url"]
            }
        };
    }
    <script type="text/javascript">
        angular.module('app').constant('debugInfo', @Html.Raw(Json.Encode(debugInfo)));
    </script>

    @*Application Insights*@
    <script type="text/javascript">
      var appInsights=window.appInsights||function(config){
        function i(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s="AuthenticatedUserContext",h="start",c="stop",l="Track",a=l+"Event",v=l+"Page",y=u.createElement(o),r,f;y.src=config.url||"https://az416426.vo.msecnd.net/scripts/a/ai.0.js";u.getElementsByTagName(o)[0].parentNode.appendChild(y);try{t.cookie=u.cookie}catch(p){}for(t.queue=[],t.version="1.0",r=["Event","Exception","Metric","PageView","Trace","Dependency"];r.length;)i("track"+r.pop());return i("set"+s),i("clear"+s),i(h+a),i(c+a),i(h+v),i(c+v),i("flush"),config.disableExceptionTracking||(r="onerror",i("_"+r),f=e[r],e[r]=function(config,i,u,e,o){var s=f&&f(config,i,u,e,o);return s!==!0&&t["_"+r](config,i,u,e,o),s}),t
        }({
            instrumentationKey:"17a3777f-38b0-497f-a78f-48f38f017ee6"
        });

        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</body>
</html>
